$white: #FFFFFF;
$white_dark: #F4F4F4;
$dark_green: #0099AE;
$light_green: #00BF82;
$red: #FD6A63;

$switch_dot_size: 25px;
$switch_container_width: 80px;
$switch_padding: 4px;

$card_container_height: 270px;
$card_image_height: 210px;

$chocolate: #E9CEC7;
$light_red :#C98572;