.table__header{
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.table__header p{
  text-align: center;
  margin-left: 0.5rem;
}


.table__header p {
  width: 100px;
}

.top__list .list__inner {
  text-align: center;
}
