@import "../../styles/mixins.scss";

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex-flow: column nowrap;
  @include flex_center();
  z-index: 1001;
  padding:30px 0;
}