@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.hero {
  background-color: #02160b;
  background-image: url("./assets/main-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 0 8.33%;
}
.hero header {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero header .logo {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
}
.hero header .logo h1 {
  font-size: 32px;
  color: white;
  padding-left: 15px;
  font-weight: 400;
}
.hero header nav {
  width: 33%;
  font-family: "Roboto", sans-serif;
}
.hero header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
}
.hero header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 23px;
}
.hero header nav ul li:not(:last-child):hover a {
  color: #cd6326;
  text-decoration: underline;
}
.hero header nav ul li:nth-child(3) a {
  position: relative;
  top: 4px;
}
.hero header nav ul li:nth-child(3):hover {
  border-radius: 50%;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #cd6326;
}
.hero header nav ul li:last-child a {
  border-radius: 5px;
  border: 2px solid #cd6326;
  padding: 10px 25px 8px 25px;
  transition: 0.3s;
}
.hero header nav ul li:last-child a:hover {
  background-color: #CD6326;
}
.hero header nav ul li:last-child a:active {
  background-color: #8F5613;
  border: 2px solid #8F5613;
}
.hero .survival {
  margin-top: 120px;
  font-family: "Open Sans", sans-serif;
}
.hero .survival h2 {
  color: #cd6326;
  letter-spacing: 6px;
  font-size: 48px;
}
.hero .survival p {
  margin-top: 75px;
  color: white;
  font-size: 18px;
  width: 290px;
}
.hero .survival button {
  font-family: "Roboto", sans-serif;
  margin-top: 55px;
  border: 0;
  border-radius: 5px;
  padding: 16px 43.5px;
  color: white;
  background-color: #cd6326;
  font-size: 23px;
  outline: none;
  cursor: pointer;
}
.hero .survival button:hover {
  background-color: #E39128;
}
.hero .survival button:active {
  background-color: #8F5613;
}

main {
  padding: 0 8.33%;
  background-color: #cccccc;
  padding-top: 140px;
  text-align: center;
}
main .latest-articles h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  color: black;
  font-weight: 400;
}
main .latest-articles h2.subheader {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #666;
  font-weight: 400;
  margin-top: 35px;
}
main .latest-articles .slider {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .latest-articles .slider .cards {
  display: flex;
  justify-content: space-between;
  width: 1020px;
}
main .latest-articles .slider .cards h4 {
  position: relative;
  top: 300px;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 22px;
}
main .latest-articles .slider .cards p {
  position: relative;
  top: 320px;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 17px;
}
main .latest-articles .slider .btn {
  width: 40px;
  height: 40px;
  border: 0;
  background-image: url("./assets/arrow.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  transition: 0.3s;
  cursor: pointer;
}
main .latest-articles .slider .btn:hover {
  border-radius: 50%;
  background-color: white;
}
main .latest-articles .slider .left-arrow {
  transform: rotate(-180deg);
}
main .get-notified {
  padding-top: 250px;
  padding-bottom: 240px;
}
main .get-notified h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  color: black;
  font-weight: 400;
}
main .get-notified form {
  width: 660px;
  display: flex;
  margin: auto;
  margin-top: 60px;
}
main .get-notified form .input-field {
  width: 540px;
  background-color: transparent;
  border: 1px solid #666;
  outline: none;
  padding-left: 20px !important;
  padding-top: 21.5px;
  padding-bottom: 21.5px;
  font-size: 23px;
  border-right: 0;
  font-family: "Roboto", sans-serif;
}
main .get-notified form .submit-btn {
  width: 120px;
  outline: none;
  border: 0;
  background-color: #CD6326;
  color: white;
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
main .get-notified form .submit-btn:hover {
  background-color: #E39128;
}

footer {
  background-image: url("./assets/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 8.33%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .logo {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
}
footer .logo h2 {
  font-size: 32px;
  color: white;
  padding-left: 15px;
  font-weight: 400;
}
footer .about ul {
  width: 460px;
  display: flex;
  justify-content: space-between;
}
footer .about ul li a {
  font-size: 23px;
  color: white;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}
footer .about ul li a:hover {
  color: #CD6326;
}
footer .contacts ul {
  display: flex;
  width: 235px;
  justify-content: space-between;
}
footer .contacts ul li {
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
  transition: 0.3s;
  cursor: pointer;
}
footer .contacts ul li a {
  font-size: 23px;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}
footer .contacts ul li:hover {
  background-color: grey;
}

/*# sourceMappingURL=style.css.map */
